@charset "ISO-8859-1";

.container{
	display:flex;
	flex-direction: column;
	align-items:center;
}
.page-title{
	font-size:4em;
}
.addform{
	width:100vw;
	display:flex;
	justify-content:center;
}
.addform .input{
	padding: 0.5em 0.8em;
	border:none;
	outline:none;
	border-radius:0.9em;
	font-size:1.2em;
	color: #303030;
	background: #efefef;
	font-weight: 700;
	margin:0em 0.5em;
}
.addform .submit{
	padding: 0.5em 0.8em;
	border-radius:0.5em;
	font-size:5em;
	font-weight: 700;
	outline:none;
	border:none;
	cursor:pointer;
	font-size: 16px;
  	background-color: #222a34;
  	color: white;
}
.addform .submit:hover {
    background: #047a1e;
    cursor: pointer;
    transform: translate(0px, -2px);
}

.section-title{
	font-size:3em;
}
.lyst{
	list-style-type: none;
	width:80vw;
	overflow-y: scroll;
	overflow-x:none;
	max-height: 60vh;
}
.lyst::-webkit-scrollbar{
	display:inline;
	width:0.3em;
	border-radius:5em;
	background-color: #fff;
}
.lyst::-webkit-scrollbar-thumb{
	background: #aaa;
	border-radius:5em;
}
.assign{
	border-radius:0.6em;
	border: 1px solid #efefef;
	box-shadow: 0.3em 0.3em 0.5em 0.1em #888888;
    padding: 20px;
    margin-bottom: 10px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin:0.5em 0.8em 0.6em 0.8em;
    font-size:1.3em;
}
.asstopic{
	margin:0.3em 1.2em;
}
.assdesp{
	margin:0.3em 1.2em;
}
.bottom{
	display:flex;
	flex-direction: row;
	align-items:center;
	width:70vw;
	justify-content: space-between;
	margin:0.3em 1.2em;
}
.subbtn{
	padding: 0.5em 0.8em;
	border-radius:0.5em;
	font-size:5em;
	font-weight: 700;
	outline:none;
	border:none;
	cursor:pointer;
	font-size: 16px;
  	background-color: #222a34;
  	color: white;
}