* {  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root {
  --mainColor: #000;
}	
body {
  width: 100vw; 
  height: 1100px;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #ccc;
}
::-webkit-scrollbar-thumb {
  background: var(--mainColor);
}
.main {
  width: 92%;
  height: 90%;
  background-color: #fff;
}
.main header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main header h1 {
  position: relative;
  top: 25px;
  left: -20px;
  width: 220px;
  padding: 10px;
  color: #fff;
  background-color: var(--mainColor);
}
.main header h1::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  border-width: 10px;
  border-style: solid;
  border-color: var(--mainColor) var(--mainColor) transparent transparent;
}
